html * {
	padding: 0px;
	margin: 0px;
}

header {
	display: inline-block;
	height: 61px;
	background-color: #2f323a;
	width: 100%;
}

header .logo {
	cursor: pointer;
	height: 61px;
	display: inline-block;
	float: left;
	width: 264px;
	background-color: #1e2025;
	background-image: url("img/logo.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

header .Admin-Name {
  width: 82px;
  height: 19px;
  font-family: proxima-nova, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 61px;
  color: #ffffff;
  position: relative;
  right: 60px;
}

header .Shape {
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.app {
	display: flex;
}

.left-menu {
	display: inline-block;
	height: 100%;
	width: 264px;
	background-color: #2f323a;
}

.left-menu ul li {
	width: 264px;
	height: 49px;
	font-family: proxima-nova, sans-serif;
	font-size: 16px;
	font-weight: 600;
	text-align: left;
	color: #ffffff;
	line-height: 49px;
	cursor: pointer;
}

.left-menu ul li.selected {
	background-color: #1e2025;
}

.content {
	display: inline-block;
	width: 100%;
	height: 100%;
	padding: 39px;
}

.charts {
	display: inline-block;
	border-radius: 8px;
	border: solid 1px #e7e7ed;
}

.charts h1 {
	font-size: 14px;
	font-weight: 600;
	line-height: 1.29;
	color: #7cb2ed;
}

#myChart {
	display: inline-block !important;
	width: 100% !important;
	height: 220px !important;
}

#myChart1 {
	display: inline-block !important;
	width: 60% !important;
	height: 260px !important;
}

#myChart2 {
	display: inline-block !important;
}

.speed-chart {
	width: 100%;
	height: 263px;
}

.count-chart {
	width: 700px;
	height: 290px;
}

.pie-chart {
	width: 230px;
	height: 290px;
}