<div class="charts speed-chart">
	<h1>Speed Zones</h1>
	<canvas id="myChart"></canvas>
</div>

<div class="charts count-chart">
	<h1>Count by zones</h1>
	<canvas id="myChart1"></canvas>
</div>

<div class="charts pie-chart">
	<h1>Speed Average</h1>
	<canvas id="myChart2"></canvas>
</div>